bin/Debug/net5.0/curso.deps.json
bin/Debug/net5.0/curso.dll
bin/Debug/net5.0/curso.exe
bin/Debug/net5.0/curso.pdb
bin/Debug/net5.0/curso.runtimeconfig.dev.json
bin/Debug/net5.0/curso.runtimeconfig.json
bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/System.Net.Http.Formatting.dll
bin/Debug/net5.0/ref/curso.dll
obj/curso.csproj.nuget.dgspec.json
obj/curso.csproj.nuget.g.props
obj/curso.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/curso.AssemblyInfo.cs
obj/Debug/net5.0/curso.AssemblyInfoInputs.cache
obj/Debug/net5.0/curso.assets.cache
obj/Debug/net5.0/curso.csproj.AssemblyReference.cache
obj/Debug/net5.0/curso.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/curso.csproj.FileListAbsolute.txt
obj/Debug/net5.0/curso.dll
obj/Debug/net5.0/curso.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/curso.genruntimeconfig.cache
obj/Debug/net5.0/curso.pdb
obj/Debug/net5.0/ref/curso.dll
bin/Debug/net5.0/System.Reactive.dll
